<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>

	<header class="navbar sticky-top flex-md-nowrap p-0 shadow" th:fragment="cabecalho">
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" th:href="@{/home}">Bilhares Agiotagem</a>
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
			data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-nav" id="logout">
			<div class="nav-item text-nowrap">
				<form sec:authorize="isAuthenticated()" class="d-flex" th:action="@{/logout}" method="post">
					<button class="btn btn-warning px-3" type="submit">Logout</button>
				</form>
			</div>
		</div>
	</header>
</body>

</html>