<div th:fragment="modal(id, nome)">

	<div class="modal fade" th:attr="id='modal'+${id}" tabindex="-1" aria-labelledby="confirmModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmModalLabel">Inativar Cartão</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Deseja inativar o cartão <span th:text="${'#'+id+' '+nome}"></span>?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
					<a th:href="@{/cartoes/inativar/{id}(id=${id})}" class="btn btn-danger">Inativar</a>
				</div>
			</div>
		</div>
	</div>
</div>