<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<div class="layout-content" layout:fragment="corpo">

		<h2 class="titulo">Seja Bem Vindo: <span th:text="${usuario.email}"></span></h2>
		<hr />
		<h2 class="titulo">Resumo das dívidas</h2>
		<div class="row">
			<div class="col">
				<h5 class="subtitulo-fatura">Total</h5>
				<h2 class="" id="valor-total"><span th:text="|R$ ${{resumoFaturas.totalDevido}}|"></span> </h2>
			</div>
			<div class="col">
				<h5 class="subtitulo-fatura">Próxima fatura</h5>
				<div class="d-flex align-items-center">
					<div th:if="${resumoFaturas.totalDevido != 0}">
						<h2>
							<span th:text="|R$ ${{resumoFaturas.valorProxFatura}}|"></span>
							dia
							<span th:text="${#temporals.format(resumoFaturas.dataProxFatura, 'dd/MM/yyyy')}"></span>
						</h2>

						<button class="btn btn-outline-danger ms-3" type="button" data-bs-toggle="modal"
							title="Informar Pagamento">
							<i class="bi bi-check"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<h2 class="titulo">Cartões</h2>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th scope="col">Código</th>
						<th scope="col">Nome</th>
						<th scope="col">Limite</th>
						<th scope="col">Limite Disponível</th>
						<th scope="col">Total Utilizado</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="d : ${resumoFaturas.cartoes}">
						<td th:text="${d.id}"></td>
						<td th:text="${d.nomeCartao}"></td>
						<td th:text="|R$ ${{d.limite}}|"></td>
						<td th:text="|R$ ${{d.limiteDisponivel}}|"></td>
						<td th:text="|R$ ${{d.totaGasto}}|"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<script th:src="~{}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>

</html>