<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<div class="layout-content" layout:fragment="corpo">

		<div class="row">
			<div class="col-md-4">
				<h2 class="titulo"><i class="fs-4 bi-pen"></i> Faturas</h2>
			</div>
			<hr>
		</div>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th scope="col">Data Vencimento</th>
						<th scope="col">Valor</th>
						<th scope="col">Cartão</th>
						<th scope="col">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="f : ${page.content}">
						<td th:text="${f.dataVencimento}"></td>
						<td th:text="${f.valor}"></td>
						<td th:text="${f.nomeCartao}"></td>
						<td>
							<div class="btn-toolbar" role="toolbar" aria-label="Toolbar btn">
								<div class="btn-group me-2" role="group" aria-label="edt">
									<a th:href="@{/faturas/editar/{id} (id=${f.cartao})}"
										class="btn btn-outline-warning" type="button" data-bs-toggle="tooltip"
										data-bs-placement="top" title="Editar">
										<i class="bi bi-pen"></i></a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="text-center mt-4">
				<ul class="pagination">
					<li class="page-item" th:class="${page.number == 1 ? 'disabled' : ''}">
						<a class="page-link" href="#"
							th:href="@{${page.number} > 1} ? ${page.number - 1} : null">&laquo;</a>
					</li>

					<li class="page-item" th:each="pageNumber : ${#numbers.sequence(page.number - 2, page.number + 2)}"
						th:class="${pageNumber == page.number ? 'active' : ''}">
						<a class="page-link" href="#" th:if="${pageNumber >= 1 && pageNumber <= page.totalPages}"
							th:href="@{/faturas/listar(page=${pageNumber})}" th:text="${pageNumber}"></a>
					</li>

					<li class="page-item" th:class="${page.last ? 'disabled' : ''}">
						<a class="page-link" href="#"
							th:href="@{/faturas/listar}">&raquo;</a>
					</li>

				</ul>
			</div>

		</div>

	</div>
</body>

</html>